*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --green:#4E6E5D;
    --beige:#EDC79B;
    --aqua: #54EABD;
}

h2, h3{
    font-family: 'Times New Roman', Times, serif;
}

/* header */

.header{
    background-color: var(--green);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.header__logo{
    width: 4rem;
    margin-left: 1rem;
}

.header__nav{
    display: none;
}

.header__menu{
    display: flex;
    flex-direction: row;
    right: 0;
    list-style-type: none;
    padding-right: 3rem;
    color: #fff;
}

.header__list-item{
    padding: 1rem;
}

.header__link{
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;
}

.hamburger-menu{
    position: relative;
    display: inline block;
}

.hamburger-menu__dropdown{
    color: #fff;
    padding-right: 2rem;
}

.hamburger-menu__dropdown-content{
    display: none;
    position: absolute;
    right: 0;
    background-color: #e9ecea;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 100px;
    border-radius: 2px;
}

.hamburger-menu__link{
    text-decoration: none;
    color: #000;
    line-height: 1.6;
    font-size: 1.2rem;
}

.hamburger-menu:hover{
    cursor: pointer;
}

.hamburger-menu__link:hover{
    text-decoration: underline;
}

.hamburger-menu:hover .hamburger-menu__dropdown-content{
    display: block;
}

/* hero */

.hero{
    position: relative;
    color: white;
}

.hero__image{
    width: 100%;
    object-fit: cover;
    max-height: 60vh;
    object-position: 100% 100%;
}

.hero__heading{
    position: absolute;
    bottom: 550%;
    left: 10%;
    font-size: 1.3rem;
    font-weight: normal;
    font-style: italic;
}

.main-homepage, .main-about, .main-booking{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* main page */

.information__card{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    align-items: center;
}

.information__heading{
    font-weight: normal;
    font-size: 2.1rem;
}

.information__breadtext{
    font-weight: lighter;
    line-height: 1.6;
    text-align: justify;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.information__photos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

.information__image{
    max-width: 50%;
}

.information__image--desktop{
    display: none;
}

.button{
    min-width: 8rem;
    padding: 1rem;
    background-color: var(--aqua);
    align-self: center;
    border-radius: 5px;
    font-size: 1rem;
    border: 1px solid var(--green);
}

.button:hover{
    cursor: pointer;
}

.room-section{
    background-color: var(--beige);
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.room-section__heading{
    font-size: 2.1;
    font-weight: normal;
    padding-bottom: 1rem;
}

.room-section__link{
    text-decoration: none;
    color: #000;
}

.room__container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.room__card{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.room__image{
    width: 100%;
    object-fit: cover;
}

.room__heading{
    font-size: 1.6;
    font-weight: 600;
    margin-bottom: 1rem;
}

.room__info{
    font-weight: lighter;
    line-height: 1.6;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.room__more-info{
    font-weight: 600;
    margin-top: 1rem;
}

.room__link{
    text-decoration: none;
    color: #000;
}

/* about us page */

.our-history{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    max-width: 1200px;
}

.our-history__heading{
    font-weight: normal;
    font-size: 2.1rem;
}

.our-history__text{
    font-weight: lighter;
    line-height: 1.6;
    text-align: justify;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.photo-gallery{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    width: 100%;
    padding-left: 2rem;
    overflow-x: auto;
    gap: 0.5rem;
    padding-right: 2rem;
}

.photo-gallery::-webkit-scrollbar{
    display: none;
}

.photo-gallery__photo{
    width: 200px;
}

.info-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    max-width: 1200px;
    background-color: var(--beige);
}

.info-section--reverse{
    background-color: #fff;
}


.info-section__photo-container{
    display: flex;
    justify-content: center;
    gap: 0.5rem; 
}

.info-section__photo{
    width: 50%;
    height: auto;
}

.info-section__text-container{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
    text-align: center;
}

.info-section__heading{
    text-align: left;
}

.info-section__text{
    font-weight: lighter;
    line-height: 1.6;
    text-align: justify;
}

.info-section:last-child{
    margin-bottom: 2rem;
}

/* booking page */

.search-form{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    border-radius: 5px;
    align-items: center;
    background-color: var(--beige);
    padding-bottom: 1rem;
}

.search-form__heading{
    padding: 1rem;
}

.search-form__forms{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.search-form__input-container{
    width: 40%;
    padding: 0.5rem 0;
}


.search-form__input{
    height: 2rem;
    border: 1px solid var(--green);
    border-radius: 5px;
    width: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem;
    line-height: 1.6;
}

.button--margin{
    margin: 2rem 0 1rem;
}


.booking{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    gap: 1rem;
}

.booking__card{
    display: flex;
    flex-direction: column;
    background-color: var(--beige);
    border-radius: 5px;
}

.booking__text-container{
    display: flex;
    flex-direction: column;
}

.booking__image{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
}

.booking__heading{
    font-weight: 600;
    padding: 1.5rem 1rem 1rem;
}

.booking__text{
    font-weight: lighter;
    line-height: 1.6;
    padding: 0 1rem 1rem;
}

.booking__list{
    column-count: 2;
    padding: 0 1rem 2rem 2rem;
    font-weight: lighter;
    line-height: 1.6;
}

.button--margin-bottom{
    margin-bottom: 1rem;
}


/* footer */

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: var(--green);
    text-align: center;
    gap: 2rem;
    color: #fff;
}

.footer__address{
    line-height: 1.6;
}

.footer__list{
    list-style-type: none;
    line-height: 1.6;
}

.footer__link{
    text-decoration: none;
    color: #fff;
}

.footer__social-media-icon{
    padding: 1rem;
}

@media (min-width: 700px){
    .header__nav{
        display: block;
    }

    .hamburger-menu{
        display: none;
    }

    /* main page */

    .information__card{
        display: flex;
        align-items: center;
        max-width: 1200px;
    }

    .information__image{
        width: 24%;
    }

    .information__image--desktop{
        display: block;
    }

    .information__breadtext{
        text-align: center;
    }

    .room-section{
        background-color: var(--beige);
    }    

    .room__container{
        display: flex;
        flex-direction: row;
    }

    .footer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        text-align: left;
    }

    .footer__social-media{
        align-self: center;
    }
}

@media (min-width: 1000px){
 
    /* about us */

    .our-history__text{
        text-align: center;
    }

    .photo-gallery__photo{
        width: 300px;
    }

    .info-section{
        display: flex;
        flex-direction: row;
    }
    
    .info-section__photo-container{
        width: 40%;
        flex-direction: column;
        gap: 0;
    }
    
    .info-section__photo{
        width: 60%;
    }
    
    .info-section__photo--right{
        align-self: flex-end;
    }
    
    .info-section__text-container{
        width: 60%;
    }
    
    .info-section--reverse{
        flex-direction: row-reverse;
    }
    
    /* booking */

    .search-form{
        grid-area: search;
        margin-top: 2rem;
        margin-left: 2rem;
    }

    .search-form__forms{
        display: flex;
        flex-flow: column;
        width: 80%;
    }

    .search-form__input-container{
        width: 100%;
        padding: 0.5rem 0;
    }

    .booking{
        grid-area: booking;
        margin: 2rem 2rem 2rem 1rem;
        gap: 2rem;
        justify-content: center;
        align-items: center;
    }

    .booking__card{
        flex-direction: row;
    }

    .booking__image{
        width: 50%;
        border-radius: 5px 0 0 5px;
    }

    .booking__text-container{
        display: flex;
        flex-direction: column;
    }

    .main-booking{
        display: grid;
        grid-template-areas: "search booking";
        align-items: flex-start;
    }
}
